@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

#page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__img {
    width: 245px;
    border-radius: 16px;
}

.container{
    max-width: 280px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#page {
    width: clamp(375px, 100%, 1440px);
    min-height: 100vh;
    background-color:hsl(212, 45%, 89%);
}

.page__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 85%;
}

.page__text--sub {
    font-size: 12px;
    color: hsl(220, 15%, 55%);
    padding-top: 16px;
    padding-bottom: 16px;
}

.page__text--main {
    font-size: 18px;
    padding-top: 16px;
    font-weight: bold;
}